<<<<<<< HEAD
body{
    margin: 0;
    min-height: 100vh;
}
.navbar{
    margin: auto;
    padding: auto;
    list-style-type: none;
    border-top: 4px solid #15222e;
    border-bottom: 4px solid #15222e;
    width: auto;
    text-align: center;
    background-color: #3b4b59;
  }
.navbar li {display: inline;
    font-size: x-large;
}
.navbar a {
    color: #fff;
    padding: 5px 10px;
    
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: auto;
    font-size: larger;
  }
.navbar a:hover {
    border-radius: 20px 5px;
    background-color: #15222e;
  }
  main{
      margin-bottom: 50px;
  }
  img{
      display: block;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    
  }
  .heading{
      text-align: center;
  }
  .underHeading{
      text-align: center;
  }
  p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      font-size: large;
  }
  .bottom {
    margin: 0;
    background-color: gray;
    
    bottom: 0;
      border-top: black solid 2px;
      width: 100%;
    height: 50px;
    position: fixed;
  }
=======
body{
    margin: 0;
    min-height: 100vh;
}
.navbar{
    margin: auto;
    padding: auto;
    list-style-type: none;
    border-top: 4px solid #15222e;
    border-bottom: 4px solid #15222e;
    width: auto;
    text-align: center;
    background-color: #3b4b59;
  }
.navbar li {display: inline;
    font-size: x-large;
}
.navbar a {
    color: #fff;
    padding: 5px 10px;
    
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: auto;
    font-size: larger;
  }
.navbar a:hover {
    border-radius: 20px 5px;
    background-color: #15222e;
  }
  main{
      margin-bottom: 50px;
  }
  img{
      display: block;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    
  }
  .heading{
      text-align: center;
  }
  .underHeading{
      text-align: center;
  }
  p {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      font-size: large;
  }
  .bottom {
    margin: 0;
    background-color: gray;
    
    bottom: 0;
      border-top: black solid 2px;
      width: 100%;
    height: 50px;
    position: fixed;
  }
>>>>>>> da4402a9bf875242d5de56c56d5aa45a5b25e4b1
  